#!/usr/bin/make -f

DESTDIR=`pwd`/debian/log2mail

##include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/autotools.mk
#
##DEB_MAKE_ENVVARS += DEBUG=no
##DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(CURDIR)/debian/tmp/
#DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DESTDIR)
#
### Store build information
##common-binary-post-install-arch common-binary-post-install-indep::
##    dh_buildinfo

%: 
	dh $@ 

#override_dh_auto_install:
#    make install DESTDIR=$(DESTDIR)

override_dh_install:
	#dh_install --sourcedir=debian/log2mail
	install -m 0644 debian/log2mail.conf \
		$(DESTDIR)/etc/log2mail/config/default
	# email template
	install -m 0644 debian/log2mail.email \
		$(DESTDIR)/etc/log2mail/mail
